*{
    margin: 0px;
}


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: orange;
}
.head h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif\;
}
.list{
    display: flex;
    
}
.list ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 300px;
    margin-top: 12px;
}
.list li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list button{
    background-color: green;
    border: none;
    border-radius: 12px;
    font-size: 12px;
   width: 100px;
   height: 40px;
    font-family: 'Times New Roman', ;

}
 