*{
    margin: 0px;
}


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: orange;
}
.head h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif\;
}
.list{
    display: flex;
    
}
.list ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin-right: 300px;
    margin-top: 12px;
}
.list li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list button{
    background-color: green;
    border: none;
    border-radius: 12px;
    font-size: 12px;
   width: 100px;
   height: 40px;
    font-family: 'Times New Roman', ;

}
.container img{
    height: 300px;
    width: 1263px;
   
}
.provide h4{
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
    color: orange;

}
.paragraph {
    width: 300px;
    padding: 10px;
    background-color: yellow;
    border-radius: 12px;
    margin-left: 20px;
    padding: 10px;

}

.main{
    display: flex;
    gap: 70px;
    margin-top: 60px;
}
.main h4{
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 30px;
    
}

.top {
    text-align: center;
    margin-top: 50px;
}

.one{
    width: 300px;
    height: 300px;
    background-color: grey;
    border-radius: 12px;
   margin: 70px 30px;
   margin-bottom: 100px;

}

.one img{
    width: 320px;
    height: 300px;
    

}

.dress{
    display: flex;
    margin-left: 90px;
}


 